Repository dkpro/dkpro-cassis, pull requests merged in 2019-10, with the labels that each got.

#71 #70 - XMI serialising throws if CAS contains reference to empty array
  cassis/typesystem.py
  cassis/xmi.py
  setup.py
  tests/fixtures.py
  tests/test_files/xmi/cas_with_empty_array_reference.xmi
  tests/test_xmi.py
Labels: Critical, Module: XMI, 🐛Bug

#72 #67 - Creating cas without typesystem shares the default typesystem
  cassis/cas.py
  tests/test_cas.py
Labels: Module: Type System, 🐛Bug

#76 #69 - Document that you can change the typesystem after creating it
  README.rst
Labels: Documentation

#74 #73 - Add get_covered_text method to Annotations
  README.rst
  cassis/cas.py
  cassis/typesystem.py
  cassis/xmi.py
  setup.py
  tests/fixtures.py
  tests/test_cas.py
Labels: Module: CAS, ⚙️Refactoring

#78 #77 - ValueError when reading a type system file that redefines a feature
  cassis/typesystem.py
  tests/test_typesystem.py
Labels: Module: Type System, 🐛Bug

#80 #79 - Error when reading XMI files with sofaURI
  cassis/cas.py
  tests/fixtures.py
  tests/test_cas.py
Labels: Module: CAS, 🆕Enhancement
