Repository dkpro/dkpro-cassis, pull requests merged in 2021-08, with the labels that each got.

#176 #167 - Cant serialize byte arrays
  cassis/typesystem.py
  cassis/xmi.py
  tests/test_files/xmi/cas_with_collections.xmi
  tests/test_typesystem.py
Labels: 🆕Enhancement, Module: XMI

#177 #173 - Rename add_feature to create_feature
  README.rst
  cassis/typesystem.py
  tests/test_typesystem.py
Labels: 🆕Enhancement, Module: Type System

#178 #170 - Handling of the "uima.noNamespace" prefix
  cassis/typesystem.py
  cassis/xmi.py
  tests/fixtures.py
  tests/test_files/typesystems/typesystem_has_types_with_no_namespace.xml
  tests/test_files/xmi/cas_has_fs_with_no_namespace.xmi
  tests/test_xmi.py
Labels: 🆕Enhancement, Module: Type System, Module: XMI

#179 #174 - FSes that are only transitively referenced cannot be serialized
  cassis/xmi.py
  tests/test_xmi.py
Labels: 🐛Bug, Module: XMI

#180 #175 - Set a feature if the feature name is in a variable
  README.rst
  cassis/typesystem.py
  tests/test_typesystem.py
Labels: 🆕Enhancement, Module: Type System

#181 #172 - Naming: cas.add_annotation(s)
  README.rst
  cassis/cas.py
  cassis/xmi.py
  tests/fixtures.py
  tests/test_cas.py
  tests/test_typesystem.py
  tests/test_xmi.py
Labels: 🆕Enhancement, Module: CAS

#182 #174 - FSes that are only transitively referenced cannot be serialized (#179)
  cassis/cas.py
  cassis/xmi.py
  tests/test_cas.py
  tests/test_xmi.py
Labels: 🐛Bug

#188 #185 #186 #187: Handling of multipleReferencesAllowed and arrays
  cassis/cas.py
  cassis/typesystem.py
  cassis/xmi.py
  tests/test_cas.py
  tests/test_files/typesystems/typesystem_with_collections.xml
  tests/test_files/xmi/cas_with_collections.xmi
  tests/test_typesystem.py
  tests/test_xmi.py
Labels: 🐛Bug

#184 #183 - Better error message when failing to resolve feature path
  cassis/typesystem.py
  tests/test_typesystem.py
Labels: 🆕Enhancement

#195 #194 - Allow visual comparison between two CASes
  cassis/__init__.py
  cassis/cas.py
  cassis/typesystem.py
  cassis/util.py
  tests/test_files/test_cas_generators.py
  tests/test_util.py
Labels: 🆕Enhancement
